.joinnow {
  /* The image used */
  background-color: rgb(56, 56, 203);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 100px;
}
.login {
  background-color: #ffffff;
  padding: 20px 30px;
}

@media screen and (max-width: 600px) {
  .joinnow {
    padding: 140px 30px;
  }
}
<<<<<<< HEAD

.error{
  border: 1px solid rgb(166, 19, 19);
}
=======
>>>>>>> parent of e43f8bd (login from)
