<!-- @ kirti ( 17/02/23 ) template driven login form with all validations--->
<!-- @ Ravi ( 17/02/23 ) Created login form template -->
<!-- @ Ravi ( 27/02/23 ) Created responsive login form with bootstrap -->
<!-- @ Ravi ( 28/02/23 ) login api integration -->
<!-- @ kirti ( 3/02/23 ) design of login page--->

<section class=" gradient-form" style="background-color: #ede3e3 ; height:100vh;" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-6">
        <div class="card text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="./../assets/logo.jpeg"
                    style="width: 180px"
                    alt="logo"
                  />
                  <h4 class=" mb-3 pb-1">We are The Philosophy Team</h4>
                </div>
           
                <div *ngIf="loginError" class="text-center text-danger">{{ loginError }}</div>

                <form #login="ngForm" (ngSubmit)="userLogin(login.value)">
                  <h2 class="text-center" style="padding-bottom: 30px">
                    Login
                  </h2>
                  <h5 class="form-label " for="form2Example11"
                  style="color: #0d0d0d;  " >*Useremail</h5
                >
                  <div class="form-outline mb-4">
                    
                    <input

                      type="text"
                      id="Email" name="Email" class="form-control" ngModel
                     style="font-style: unset;"
                      class="form-control"
                      placeholder="Please Enter Email"
                    />
                  
                  </div>
                  <h5 class="form-label" for="form2Example22"
                    style="color: #0d0d0d; " >*Password</h5
                    >

                  <div class="form-outline mb-4">
                    
                    <input
                      type="password"
                      id="Password" name="Password" class="form-control" ngModel
                      id="form2Example22"
                      class="form-control"
                      placeholder="Please Enter Password"
                    />
                    
                  </div>

                  <div class=" text-center pt-1 mb-3 ">
                    <button [disabled]="login.invalid "
                      class=" btn text-white " style="background-color:  #2680aa;"
                      type="submit"
                    >
                    <div class="spinner-border" role="status" *ngIf="loginLoader">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                      <span *ngIf="!loginLoader">
                        Log in
                      </span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
