<!-- @ kirti ( 17/02/23 ) template driven login form with all validations--->
<!-- @ Ravi ( 17/02/23 ) Created login form template -->
<section class="joinnow">
    <section class="login col-lg-4 m-auto shadow-lg rounded">
        <div class="mb-2"><h3 class="text-center text-primary mt-2 mb-4">Login</h3></div>
        <form class="container rounded" #loginForm="ngForm" (ngSubmit)="userlogin(loginForm)">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" required ngModel name="email" #email="ngModel" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                    aria-describedby="emailHelp"  [ngClass]="{error: email.touched && email.invalid}">
                <div *ngIf="email.errors && email.touched">
                      <small class="text-danger" *ngIf="email.errors['required']">Email is required</small>
                      <small class="text-danger" *ngIf="email.errors['pattern']">please enter vailid email</small>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" ngModel #password="ngModel" pattern="[\S]+" minlength="4" required name="password"
                    id="exampleInputPassword1" [ngClass]="{error: password.touched && password.invalid}">
                <div *ngIf="password.errors && password.touched ">
                      <small class="text-danger" *ngIf="password.errors['required']">password is required</small>
                      <small class="text-danger" *ngIf="password.errors['minlength']">minimum 4 charaters required</small>
                      <small class="text-danger" *ngIf="password.errors['pattern']">space doesn't allowed</small>
                </div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input"
                    id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary col-lg-12" [disabled]="loginForm.invalid">Log-In</button>
        </form>
    </section>
</section>
