
  <div class="pos-f-t " >
 
    <header class="navbar    bg-dark" >
      <button class="navbar-toggler " (click)="toggleNavbar()"  type="button">
        <span class="navbar-toggler-icon" ></span>
      </button>
     
    </header>
    <nav [ngClass]="{'open': isNavbarOpen}">
      <div class="border border-1 border-secondary rounded g-0">
      <ul>
        <li  > <a routerLink="upload-file" >upload_file</a></li>
        <li style="margin-bottom: 67vh;" ><a routerLink="emp-details" >employee_details</a></li>
        <li><a routerLink="myprofile" >myprofile</a></li>
        <li><a routerLink="/" >logout</a></li>
      </ul>
    </div>
    </nav>

  </div>
  <router-outlet></router-outlet>
 