<!-- @ kirti soni ( 6/03/23 )  design of employee detaile-->
<!-- @ kirti soni ( 7/03/23 )  design of employee details and create month and year selecter -->
<!-- @ kirti soni ( 10/03/23 )  design of table data gettinh from api and show table year and month-year based-->
<!-- @ kirti soni ( 15/03/23 )  design of button for generate payslip-->
<section class="intro">
  <div class="bg-image h-100 " style="background-color: #f5f7fa;">
    <div class="mask  d-flex align-items-center h-100">

      <div class="container  ">

        <div class="col-xl-12">

          <div class="rows col-xl-8 ">
            <div class="col  ">
              <select (change)="onChange($event)">
                <option value="month">Month</option>
                <option value="year">Year</option>
              </select>
              <input type="month" *ngIf="selectedOption === 'month'" (change)="change($event)">

              <select *ngIf="selectedOption === 'year'" (change)="selectyear($event)">
                <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
              </select>
              <input class="col " type="text" name="Emp_name" placeholder="search employee_details"
                [(ngModel)]="searchQuery">
            </div>
            <div class="card ">
              <div class="card-body p-0 ">
                <div class=" row1 border text-center "
                  style=" background: linear-gradient(to right, rgb(54, 222, 231), rgb(71, 8, 135));">
                  <h5 style="margin: 3vh;">Employee Details</h5>
                </div>
                <div class="table-responsive " style="position: relative; height: auto">
                  <span *ngIf="!showLoader">
                 
                    

                  <table class="table table-striped mb-0 text-center" *ngIf="this.res">
                    <thead class="bg-dark">
                    
                      <tr>
                        <th scope="col" *ngFor="let i of header">{{i}}<br>
                   
                          <input  type="text"  #search (keyup)="filterData(search.value, i)" placeholder="{{ i }}">
                      
                        </th>
                        <th>Download paySlip</th>

                      </tr>
                    </thead>
                    <tbody *ngIf="res && res.length > 0">
                   

                      <tr
                        *ngFor="let value of res | filter:searchQuery |paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index;">
                        <td>{{value.emp_id}}</td>
                        <td>{{value.emp_name}}</td>
                        <td>{{value.emp_email}}</td>
                        <td>{{value.emp_contact_details}}</td>
                        <td>{{value.emp_designation}}</td>
                        <td>{{value.basic}}</td>
                        <td>{{value.HRA}}</td>
                        <td>{{value.Other_Allowances}}</td>
                        <td>{{value.PF}}</td>
                        <td>{{value.ESI}}</td>
                        <td>{{value.PT}}</td>
                        <td>{{value.IT}}</td>  
                        <td>{{value.Company_Contribution_PF}}</td>
                        <td>{{value.Company_Contribution_ESI}}</td>
                        <td>{{value.month}}</td>
                        <td>{{value.year}}</td>
                        <td>
                          <button (click)="download(value, i)" class="btn text-white"
                            style="background-color: rgb(23, 174, 3);">
                            <span *ngIf="!loaderArray[i]">
                              Download
                            </span>
                            <div *ngIf="loaderArray[i]" class="spinner-border" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <div *ngIf="res && res.length == 0">
                        <h3 class="text-danger">You do not have any records</h3>
                    </div>
                  </table>
                </span>
                <div  class="d-flex justify-content-center">
                  <div *ngIf="showLoader" class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                
                  <!-- @ kirti soni ( 10/03/23 )  get data using pagination-->
    

               

                </div>
                <pagination-controls  (pageChange)="page=$event"></pagination-controls>
              



              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>